.App {
  text-align: center;
  background-color: #402e09;
  background-image: url(assets/denys-nevozhai-j8Bc4UerZXY-unsplash-reduced.jpg);
  background-size: cover;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
